/* Global */
*,
body {
    font-family: Verdana,"BitStream vera Sans",Arial,Helvetica,sans-serif;
    background:#F7F7F7 none repeat scroll 0 0;
    color:#333333;
    margin: 0;
    padding: 0;
}

/* Structure */
#header {
    border-bottom:1px solid #B7B7B7;
}

#header .inner {
    height:78px;
}

/*#header .inner .content {
    margin:0 auto;
    width:922px;
}*/

#header .inner {
    margin:0 auto;
    width:922px;
}

/*#container {
    padding: 15px;
}*/

#wrap {
	margin: auto;
	width: 922px;
}

#containerleft {
	float: left;
	padding: 15px;
	width: 662px;
}

#containerright {
	border-left: 1px solid #B7B7B7;
	float: right;
	padding: 15px;
	width: 199px;
}

/*#content {
    margin:0 auto;
    text-align:left;
    width:922px;
}*/

#content {
    margin:0 auto;
    text-align:left;
    width:662px;
}

#footer {
    border-top: 1px solid #B7B7B7;
    clear: both;
    font-size: 12px;
    text-align: center;
}

/* header */
#logo {
    font-size: 20px;
    font-weight: bold;
    float: left;
    position: relative;
    top: 20px;
}

/*.login {
    float: right;
    font-size: 13px;
}

.login .login-button {
    float: right;
}*/

/* content */
#searchbar {
    width: 100%;
    text-align: center;
}

#searchbar #search-text {
    width: 250px;
    margin-right: 20px;
}

#login {
	font-size: 12px;
	text-align: left;
}

#login .loginforgot .loginregister {
	font-size: 8px;
}
