/* Global */
*,
body {
    font-family: Verdana,"BitStream vera Sans",Arial,Helvetica,sans-serif;
    /*background:#F7FBF7 none repeat scroll 0 0;
    color:#333333;*/
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
	background-color: #002233;
}

h1 {
    color:#494949;
    display:block;
    font-size:25px;
    font-weight:700;
    line-height:1.1em;
    margin:0;
    padding:5px 0 15px;
}

h2 {
    color:#006600;
    font-family:normal Arial,Helvetica,sans-serif;
    font-size:14px;
    font-weight: normal;
    line-height:150%;
    margin:0 0 12px;
}

/*a {
	color:#333333;
}*/

a.redbutton {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -x-system-font:none;
    /*background:transparent url(/img/redbutt.gif) no-repeat scroll right top;*/
    color:#FF7676;
    cursor:pointer;
    display:block;
    font-family:sans-serif;
    font-size:12px;
    height:24px;
    margin:0 5px 0 0;
    overflow:hidden;
    padding-right:5px;
    text-decoration:none;
}

a.redbutton span {
    -moz-background-clip:border;
    /*background:transparent url(/img/redbutt.gif) no-repeat scroll 0 0;*/
    display:block;
    line-height:18px;
    padding:4px 1px 4px 1px;
    text-align: center;
}

a.redbutton:visited {
    color:#ff7676;
    text-decoration:none;
}

a.redbutton:hover {
    /*background:transparent url(/img/redbutt.gif) no-repeat right -24px;*/
    color:#FFF
}

a.redbutton:hover span {
    background-position:left -24px;
    color:#FFF;
}

.clear {
    clear: both;
}

/* Structure */
#header {
    background: #002233 url('/img/topbackground.png') repeat-x scroll 0 0;
    width: 100%;
    height: 90px;
    min-width: 750px;
}

#header .content {
    margin:0 auto;
    padding: 10px;
}

#navi {
    position: fixed;
	float: left;
	top: 158px;
	left: -195px;
	padding: 0;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
    background:#2A82AA;
    color:#FFF;
    font-weight:bold;
    text-decoration:none;
    outline-style:none;
    outline-width:0;
}

#navi * {
	background:#2A82AA;
    color:#FFF;
    font-weight:bold;
    text-decoration:none;
    outline-style:none;
    outline-width:0;
    color:#FFF;
}

#navi .navi_treeview {
    float: left;
}

#navi #navi_caption {
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
    float: right;
    width: 25px;
    height: 120px;
    background: #2A82AA url('/img/navigation.gif') no-repeat scroll 0 10px;
    cursor: pointer;
}

#body {
    background: #6EADCC url('/img/background.jpg') repeat-x scroll 0 0;
    min-height: 400px;
    min-width: 750px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
	text-align: center;
}

#body #container {
    -moz-border-radius: 10px;
    background-color: #003366;
    width: 750px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

#footer {
    background-color: #002233;
    padding: 20px;
    clear: both;
    color:#778899;
    font-size: 12px;
    text-align: center;
}

#footer ul {
	list-style: none;
	margin: auto;
	margin-bottom: 14px;
	width: 750px;
}

#footer ul li {
	float: left;
	margin-left: 10px;
}

#footer ul li a {
	color: #2A82AA;
}

#footer ul li a:hover {
	text-decoration: underline;
}

/* header */
#header a {
    text-decoration: none;
}

#logo {
    border: none;
}

/* login */
#login_button {
    float: right;
    margin-top: 47px;
    text-align: right;
}

#login_button a:hover,
#login_button a:focus {
    cursor: pointer;
}

#login_button a {
    -moz-border-radius:4px;
    -webkit-border-radius: 4px;
    background:#2A82AA;
    color:#FFF;
    font-weight:bold;
    padding:4px 6px 6px;
    margin: 0 0 0 10px;
    text-decoration:none;
    outline-style:none;
    outline-width:0;
}

#login_button a.open {
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    color: #778899;
    background: #DDEEF6;
}

#login_button a span {
    background: transparent;
    color: inherit;
    font-size:11px;
    line-height:23px;
    text-align: center;
}

#login_panel {
    display: none;
    font-size:11px;
    text-align:left;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topleft:5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    background-color:#DDEEF6;
    border:1px none transparent;
    color:#778899;
    margin-top:52px;
    padding:10px;
    text-align:left;
    width:215px;
    z-index:9999;
    position: absolute;
    top: 30px;
    right: 10px;
}

#login {
    width: 33%;
    margin-left: 33%;
    margin-right: 33%;
}

#login_panel table,
#login_panel table tbody,
#login_panel table tr,
#login_panel table td,
#login_panel p,
#login table,
#login table tbody,
#login table tr,
#login table td,
#login p {
    background: transparent;
}

#login_panel label,
#login label {
    color: #778899;
    background: transparent;
}

#login_panel a,
#login a {
    background: transparent;
    color: #2277BB;
    text-decoration: none;
}

#login_panel input[type="text"],
#login_panel input[type="password"],
#login input[type="text"],
#login input[type="password"] {
    -moz-border-radius:4px;
    -webkit-border-radius: 4px;
    border:1px solid #AACCEE;
    display:block;
    font-size:13px;
    margin:0 0 5px;
    padding:5px;
    width:203px;
    background: #fff;
}

#login_panel input[type="submit"]:hover,
#login_panel input[type="submit"]:focus,
#login input[type="submit"]:hover,
#login input[type="submit"]:focus {
    cursor: pointer;
}

#login_panel input[type="checkbox"],
#login input[type="checkbox"] {
    background: transparent;
}

#login_panel input[type="submit"],
#login input[type="submit"] {
    -moz-border-radius:4px;
    -webkit-border-radius: 4px;    
    background:#3399DD ;
    border:1px solid #3399DD;
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
    margin:0 5px 0 0;
    padding:4px 10px 5px;
}

#user_panel {
    float: right;
    margin-top: 47px;
    text-align: right;
}

#user_panel p {
    color: #778899;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 5px;
}

#user_panel a:hover,
#user_panel a:focus {
    cursor: pointer;
}

#user_panel a {
    -moz-border-radius:4px;
    -webkit-border-radius: 4px;
    background:#2A82AA;
    color:#FFF;
    font-weight:bold;
    padding:4px 6px 6px;
    margin: 0 0 0 10px;
    text-decoration:none;
    outline-style:none;
    outline-width:0;
}

#user_panel a span {
    background: transparent;
    color: inherit;
    font-size:11px;
    line-height:23px;
    text-align: center;
}

/* content */
#searchbar {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

#searchbar input[type="text"] {
    width: 320px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-topleft:5px;
    background:#FFF;
    border-color:#CCC;
    border-style:solid;
    border-width:1px 0 1px 1px;
    font-family:Helvetica,Arial,Sans-serif;
    font-size:18px;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    margin:0;
    outline-width:0;
    padding:8px 10px;
}

#searchbar input[type="submit"]:hover,
#searchbar input[type="submit"]:focus {
    cursor: pointer;
    color: #111;
}

#searchbar input[type="submit"] {
    padding:9px 10px 8px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topright:5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    background:#BBB;
    border:1px solid #CCC;
    color:#333;
    font-family:Helvetica,Arial,Sans-serif;
    font-size:18px;
    font-style:normal;
    font-variant:normal;
    font-weight:bold;
    line-height:normal;
    margin-left:-0.5em;
    outline-color:-moz-use-text-color;
    outline-style:none;
    outline-width:medium;
    padding:8px 15px;
    text-decoration:none;
    text-shadow:0 1px 0 #FFFFFF;
}

.event_summary {
    width: 380px;
    font-size: 13px;
}

.event_summary .event_preview {
    float: left;
}

/*.event_summary a {
    text-decoration: none;
    display: inline-block;
}*/

.event_summary a.img_link {
    padding: 5px 5px;
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
    border: 1px solid #BBBBBB;
    text-align: center;
}

.event_summary a.img_link img {
    width: 100px;
    height: 100px;
    border: none;
}

.event_summary .event_info {
    float: right;
    width: 260px;
    margin: 0;
}

.event_summary .event_info_label
{
	color: #009988;
	float: left;
	width: 20;
	margin-left: 10px;
}

.event_summary .event_info_information
{
	color: #FF3300;
	font-style: italic;
	float: left;
	width: 180;
}

.event_summary .event_info_information .event_info_name
{
	text-align: center;
	color: #00FFFF;
	font-size: 16px;
}

.event_summary h2 {
    font-size: 15px;
    font-weight: bold;
    color: #2277BB;
}

ul.event_top10 {
    border-top: 1px dashed #BBBBBB; 
    width: 100%;
    text-align: center;
}

ul.event_top10 li {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    width: 47%;
    float: left;
    border-bottom: 1px dashed #BBBBBB;
    text-align: left;
}

ul.event_top10 li.left {
    border-right: 1px dashed #BBBBBB;
    background-color: #002244;
}

ul.event_top10 li.right {
    border-right: 1px dashed #BBBBBB;
    background-color: #002244;
}

a#more {
    text-decoration: none;
    float: right;
    padding: 10px;
}

a#more:hover {
    text-decoration: underline;
}

#event_detail {
    margin: 20px 0 20px 50px;
}

#subjectwrap {
    float:none;
    margin-bottom:15px;
    width:600px;
    
    -x-system-font:none;
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:150%;
    margin: 0 5px 0 0;
}

#subjectwrap #buttons {
    border-left:1px dashed #BBBBBB;
    display:inline;
    float:right;
    padding:10px 0 10px 5px;
    width:100px;
}

#subjectwrap #album {
    display:inline;
    float:left;
    padding-bottom:15px;
    padding-right:15px;
}

#subjectwrap #album img {
    width: 150px;
}

#subjectwrap #info,
.event_list .event_list_info {
    float:left;
    max-width:320px;
    word-wrap:break-word;
    font-size:12px;
    line-height:162%;
}

/*#subjectwrap #info .label,
.event_list .event_list_info .label {
    -x-system-font:none;
    color:#666666;
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:150%;
    margin: 0 5px 0 0;
}*/

#related_info {
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    line-height:162%;
    width: 580px;
    color: #111;
    margin-top: 20px;
}

#requestnewpassword,
#myaccount,
#registrationcomplete,
#resetpassword,
#controlpanel {
	margin: 20px 0px 20px 20px;
}

#requestnewpasswordt {
	font-size: 18px;
	font-weight: bold;
}

#requestnewpasswordp {
	font-size: 11px;
	margin: 4px 0px 0px 0px;
}

#requestnewpasswordimg {
	float: left;
	margin: 20px 20px 20px 0px;
}

#requestnewpasswordform {
	float: left;
	margin: 20px 0px 0px 0px;
}

#requestnewpasswordemailt {
	font-size: 14px;
	font-weight: bold;
}

#requestnewpasswordemailp {
	font-size: 10px;
	margin: 2px 0px 2px 0px;
}

#requestnewpassword input[type="text"] {
    width: 320px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #FFF;
    border-color: #CCC;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    font-family: Helvetica,Arial,Sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    outline-width: 0;
    padding: 8px 10px;
}

#requestnewpassword input[type="submit"] {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-x-system-font: none;
	background: #DDDDDD url(../img/requestnewpasswordbtn.gif) repeat-x scroll 0 0;
	border: 1px solid #CCCCCC;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	font-size: medium;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 20px;
	margin: 6px 0px 0px 0px;
	overflow: visible;
	padding: 8px 8px;
	text-shadow: 1px 1px 0 #FFFFFF;
	vertical-align: top;
	width: auto;
}

#requestnewpassword input[type="submit"]:hover,
input[type="submit"]:focus {
	background-color: #D5D5D5;
	background-position: 0 -206px;
	border-color: #999999 #999999 #888888;
	color: #000000;
}

#studentregistration,
#instituteregistrationrequest {
	margin: 20px 0px 20px 20px;
}

#studentregistrationt,
#instituteregistrationrequestt,
#myaccountt,
#registrationcompletet,
#resetpasswordt,
#controlpanelt {
	font-size: 18px;
	font-weight: bold;
}

#studentregistrationp,
#instituteregistrationrequestp,
#myaccountp,
#registrationcompletep,
#resetpasswordp,
#controlpanelp {
	font-size: 11px;
	margin: 4px 0px 0px 0px;
}

#studentregistration a,
#instituteregistrationrequest a,
#myaccount a {
	color: #2A82AA;
	text-decoration: none;
}

#studentregistration a:hover,
#instituteregistrationrequest a:hover,
#myaccount a:hover {
	color: #2A82AA;
	text-decoration: underline;
}

#studentregistration td,
#instituteregistrationrequest td,
#myaccount td {
	margin: 4px 4px 4px 4px;
	padding: 4px 4px 4px 4px;
}

#studentregistration .formpart,
#instituteregistrationrequest .formpart,
#myaccount .formpart {
	font-size: 16px;
	font-weight: bold;
	padding-left: 76px;
}

#studentregistration input[type="text"],
input[type="password"],
select,
#instituteregistrationrequest input[type="text"],
input[type="password"],
textarea,
select,
#myaccount input[type="text"],
input[type="password"],
select {
    width: 320px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #FFF;
    border-color: #CCC;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    font-family: Helvetica,Arial,Sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    outline-width: 0;
    padding: 8px 10px;
}

#studentregistration select,
#instituteregistrationrequest select {
	margin-right: -6px;
	width: 342px;
}

#myaccount select {
	width: 342px;
}

#studentregistration option,
#instituteregistrationrequest option,
#myaccount option {
	background: #FFF;
	width: 320px;
}

#studentregistration select.inputdate, #myaccount select.inputdate {
	margin-right: 0;
	width: 110px;
}

#studentregistration select.inputdate option,
#myaccount select.inputdate option {
	width: 88px;
}

#studentregistration input[type="radio"],
#myaccount input[type="radio"] {
	width: 25px;
}

#studentregistration td.label,
#instituteregistrationrequest td.label,
#myaccount td.label {
	text-align: right;
	width: 250px;
}

#instituteregistrationrequest td.labeltextarea {
	text-align: right;
	vertical-align: top;
	width: 250px;
}

#studentregistrationagreement,
#instituteregistrationrequestagreement {
	font-size: 11px;
}

#studentregistration input[type="submit"],
#instituteregistrationrequest input[type="submit"],
#myaccount input[type="submit"] {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-x-system-font: none;
	background: #DDDDDD url(../img/requestnewpasswordbtn.gif) repeat-x scroll 0 0;
	border: 1px solid #CCCCCC;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	font-size: medium;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 20px;
	margin: 6px 0px 0px 0px;
	overflow: visible;
	padding: 8px 8px;
	text-shadow: 1px 1px 0 #FFFFFF;
	vertical-align: top;
	width: auto;
}

#studentregistration input[type="submit"]:hover,
input[type="submit"]:focus,
#instituteregistrationrequest input[type="submit"]:hover,
input[type="submit"]:focus,
#myaccount input[type="submit"]:hover,
input[type="submit"]:focus {
	background-color: #D5D5D5;
	background-position: 0 -206px;
	border-color: #999999 #999999 #888888;
	color: #000000;
}

#myaccount td.accountinformationemailaddress span {
	font-weight: bold;
	line-height: 36px;
}

#requestnewpassword .error, #studentregistration .error, #instituteregistrationrequest .error {
	color: rgb(220, 0, 0);
	font-size: 30pt;
	line-height: 0;
	margin-left: 8px;
	vertical-align: middle;
}

#myaccount .error {
	color: rgb(220, 0, 0);
	font-size: 30pt;
	line-height: 0;
	margin-left: 2px;
	vertical-align: middle;
}

#studentregistration .inputdateerror, #myaccount .inputdateerror {
	color: rgb(220, 0, 0);
	font-size: 30pt;
	line-height: 0;
	margin-left: 2px;
	vertical-align: middle;
}

#instituteregistrationrequest .descriptionerror {
	color: rgb(220, 0, 0);
	font-size: 30pt;
	line-height: 40px;
	margin-left: 8px;
	vertical-align: top;
}

#myaccount .descriptionerror {
	color: rgb(220, 0, 0);
	font-size: 30pt;
	line-height: 40px;
	margin-left: 2px;
	vertical-align: top;
}

.event_list {
    display: block;
    width: 100%;
    height: 105px;
    padding-top: 5px;
}

.event_list .event_list_pic {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.event_list .event_list_info {
    float: left;
    height: 100%;
}

.event_list .event_list_info h2 {
    color: #000;
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    padding-bottom: 2px;
}

.event_list .event_list_info {
    line-height: 100% !important;
}

.event_list .event_list_buttons {
    float: right;
    border-left: 1px dashed #BBB;
    padding-left: 5px;
    width: 100px;
    height: 100%;
}

.event_list .event_list_buttons a {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

#event_list {
    margin-top: 30px;
    border-top :1px dashed #BBB;
}

#event_list li {
    list-style-type: none;
    border-bottom: 1px dashed #BBB;
}

#pagewrap {
    width: 100%;
    text-align: center;
}

#pagewrap #page {
    margin: 15px auto;
}

#pagewrap #page li {
    list-style-type: none;
    display: inline-block;
    border: 1px solid #BBB;
    width: 20px;
}

#pagewrap #page li:hover {
    background: #E9E9E9;
}

#pagewrap #page li a {
    background: inherit;
    text-decoration: none;
}

div#shoppingcartwrap {
    margin: 50px 0;
    padding: 30px 20px;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

table#shoppingcart {
    margin: 30px 0;
    border-collapse: collapse;
    background: #EEE;
}

table#shoppingcart * {
    background: transparent;
}

table#shoppingcart a {
    text-decoration: none;
}

table#shoppingcart a:hover {
    text-decoration: underline;
}

table#shoppingcart input[type="text"] {
    width: 2em;
}

table#shoppingcart input[type="text"],
table#shoppingcart a.update {
    display: none;
}

div#shoppingcartwrap,
table#shoppingcart tr {
    background: #EEE;
}

table#shoppingcart tr.row:hover {
    background: #CCC;
}



table#shoppingcart th,
table#shoppingcart td {
    padding: 5px;
}

table#shoppingcart th {
    border-bottom: #DDD 2px solid;
}

table#shoppingcart td {
    border-top: #DDD 1px solid;
}

table#shoppingcart td.name {
    width: 300px;
}

table#shoppingcart td.quantity {
    text-align: center;
}

table#shoppingcart td.quantity .quantity_box {
    border: #555 1px solid;
    margin-left: 25px;
}

table#shoppingcart td.action {
    width: 150px;
}

span.empty_cart {
    display: block;
    margin: 50px;
    padding: 30px 20px;
    background: #EEE;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#event_detail .event_info_name
{
	display: block;
	text-align: center;
	color: #009988;
	font-size: 28px;
}

#event_detail #subjectwrap .info_label
{
	float: left;
	color: #009988;
	display: inline-block;
	margin: 0;
}

#event_detail #subjectwrap .info_information
{
	float: left;
	color: #FF3300;
	display:inline-block;
	margin: 0;
}

#event_detail #subjectwrap .info_information .info_information_organizer
{
	display: block;
}

/*Check out*/
#checkOut table tbody tr td{ padding:5px; vertical-align:top; text-align:left;}
#personal-info tr td{ padding:5px;}
